.DS_Store
node_modules
dist
.env
.vscode
__pycache__/
*.py[cod]
*$py.class
.pytest_cache/
htmlcov/
.coverage
.coverage.*
.cache
.idea
*.iml
*.iws
out/
build/
*.log
*.sqlite3
*.egg-info/
target
test-output
.classpath
.project
.settings
bin/
